<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 Web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <connectionStrings>
    <add name="CoffeeOrderContext" connectionString="metadata=res://*/EntityModels.CoffeeModel.csdl|res://*/EntityModels.CoffeeModel.ssdl|res://*/EntityModels.CoffeeModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=KF02ETM;PASSWORD=*(IO23sa;PERSIST SECURITY INFO=True;USER ID=ET_ORDERS_V3&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="MemberDbContext" connectionString="metadata=res://*/Members.MemberEntityModel.csdl|res://*/Members.MemberEntityModel.ssdl|res://*/Members.MemberEntityModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=KF02ETM;PASSWORD=5jAFkk3x;USER ID=ET_MEMBER&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ETMContext" connectionString="metadata=res://*/EntityModels.ETMModel.csdl|res://*/EntityModels.ETMModel.ssdl|res://*/EntityModels.ETMModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=KF02ETM;PASSWORD=xyl_01536095;PERSIST SECURITY INFO=True;USER ID=ETM_BUSINESS&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>
  
  <appSettings>
    <add key="config_api_baseuri" value="http://configapi.etong.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="sms_api_baseuri" value="http://notifyapi.etong.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--订单同步-->
    <add key="javaorder_uri" value="http://192.168.0.243:8887/open-web/webservices/rest/orders/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="javaorder_MemberId" value="etong_common_user" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="javaorder_Password" value="e10adc3949ba59abbe56e057f20f883e" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--手续费URL-->
    <add key="javafee_uri" value="http://192.168.0.243:8887/open-web/webservices/rest/business/fee/getFee" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>   
    
  </appSettings>  
  <system.web>    
  </system.web>
</configuration>
