<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

    <system.serviceModel>
        <client>
            <endpoint address="net.pipe://localhost/movie" binding="netNamedPipeBinding"
                bindingConfiguration="" contract="ETong.Maintenance.ICommandService" name="movie" />
        </client>
    </system.serviceModel>
</configuration>