<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 Web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MemberDbContext" connectionString="metadata=res://*/Members.MemberEntityModel.csdl|res://*/Members.MemberEntityModel.ssdl|res://*/Members.MemberEntityModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=KF02ETM;PASSWORD=5jAFkk3x;USER ID=ET_MEMBER&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <appSettings>


    <add key="ResDomain" value="http://resourceweb.etong.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="config_api_baseuri" value="http://configapi.etong.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiUri" value="http://coffeeapi.etong.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/> 
    
  </appSettings>
  <system.web>
    
  </system.web>
</configuration>
