<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 密码键盘串口 -->
		<add key="KeyboardComPoint" value="1" />
		<!-- 密码键盘波特率 -->
		<add key="KeyboardBaudRate" value="9600" />
		<!-- 银行卡读卡器串口 -->
		<add key="BankCardComPoint" value="2" />
		<!-- 银联易通服务器密钥 -->
		<add key="UnionPayDesKey" value="abcdefghijklmnopqrstuvwx" />
		<!-- 银联易通服务器ip -->
		<add key="UnionPayServerIP" value="120.31.130.248" />
		<!-- 银联易通服务器端口 -->
		<add key="UnionPayServerPort" value="7411" />
		<!-- 是否使用1角支付(测试用) -->
		<add key="IsUserOneJiaoPay" value="true" />
		<!-- 银联终端服务webapi -->
		<add key="BankTerminalServiceUri" value="http://192.168.0.182/Business_Modules/Pay/ETong.Pay.Api/" />
	</appSettings>
</configuration>